<nav id="sidebar" class="bg-dark text-white">
    <div class="sidebar-header">
        <h2>Админ панель</h2>
    </div>
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" href="/admin">
                <i class="fas fa-home"></i>
                <span>Главная</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/users">
                <i class="fas fa-users"></i>
                <span>Пользователи</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/groups">
                <i class="fas fa-users-cog"></i>
                <span>Группы</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/messages">
                <i class="fas fa-envelope"></i>
                <span>Сообщения</span>
            </a>
        </li>
    </ul>

</nav>
