# Переменные приложения
TELEGRAM_TOKEN=2342342342:AVG8jHNHb1bTUZFSDFSDoZwPe1xzmxcSJmxM0Eo
LOG_LEVEL=INFO
EMAIL_CURATOR=xxx@gmail.com

# Переменные почтового сервера
SMTP_SERVER_PORT=465
SMTP_SERVER_ADDRESS=smtp.yandex.ru
SMTP_SERVER_BOT_EMAIL=xxx@yandex.ru
SMTP_SERVER_BOT_PASSWORD=your_password

# Переменные для подключения к БД
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=test_db
POSTGRES_SERVER=localhost
POSTGRES_PORT=5432

# Переменные JWT
TOKEN_SECRET_KEY=my_secret_key
TOKEN_ALGORITHM=HS256
TOKEN_EXPIRE_MINUTES=30

# Переменные для создания первого админа
FIRST_SUPERUSER_TG_ID=tg_id
FIRST_SUPERUSER_FIRST_NAME=first_name
FIRST_SUPERUSER_USER_NAME=username
FIRST_SUPERUSER_PASSWORD=password
FIRST_SUPERUSER_IS_ADMIN=True

ADMIN_SITE_URL = Address admin site
