body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f9;
}
.form-container, .error-container {
  text-align: center;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
}
h1 {
  font-size: 2rem;
  color: #333;
}
h6 {
  font-size: 0.7rem;
  color: #333;
}
p {
  color: #666;
  margin: 10px 0;
}
a, button {
  display: inline-block;
  margin-top: 20px;
  text-decoration: none;
  color: white;
  background-color: #007bff;
  padding: 10px 20px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}
a:hover, button:hover {
  background-color: #0056b3;
}
input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
