{% extends "base.html" %}
{% block title %}400 Bad Request{% endblock title%}
{% block content %}
<main>
    <div class="d-flex justify-content-center">
        <div class="d-flex flex-column bg-light p-4 rounded align-items-center">
            <h1>400 - Неверный запрос</h1>
            <p>Извините, ваш запрос не может быть обработан.</p>
            {% if detail %}
                <p><strong>Подробности ошибки:</strong> {{ detail }}</p>
            {% endif %}
            <a class="btn btn-primary mt-5 fs-5 w-50" href="{{ url_for('admin_dashboard') }}">Вернуться на главную</a>
        </div>
    </div>
</main>
{% endblock content %}