{% extends "base.html" %}
{% block title %}500 Internal Server Error{% endblock title %}
{% block content %}
<main>
    <div class="d-flex justify-content-center">
        <div class="d-flex flex-column bg-light p-4 rounded align-items-center">
            <h1>500 - Внутренняя ошибка сервера</h1>
            <p>Извините, на сервере произошла ошибка при обработке вашего запроса.</p>
            {% if detail %}
                <p><strong>Подробности ошибки:</strong> {{ detail }}</p>
            {% endif %}
            <a class="btn btn-primary mt-5 fs-5 w-50" href="{{ url_for('admin_dashboard') }}">Вернуться на главную</a>
        </div>
    </div>
</main>
{% endblock content %}