{% extends "base.html" %}
{% block title %}Список сообщений{% endblock title %}
{% block content %}

        <main class="container" style="margin-bottom: 60px;">
            <h2>Список сообщений</h2>
            <a href="/admin/messages/create" class="btn btn-success">Создать новое сообщение</a>
            {% for message in messages|reverse %}
                <div class="list-group container-list">
                    <div class="mb-1 divider">
                        <h3 style="font-weight: bold; margin-top: 20px">Текст сообщения</h3>
                        <h6 style="word-wrap: break-word; overflow-wrap: break-word;">{{ message.text | truncate(200, True, '', 0) }}</h6>
                    </div>
                    <div class="d-flex w-100 justify-content-between align-items-center">
                        <div class="d-flex flex-column">
                            <h6 class="mb-1" style="margin-top: 10px;">Дата отправки:</h6>
                            <h6 class="mb-1">Отправлено:</h6>
                        </div>
                        <div class="d-flex flex-column align-items-center">
                            <h6 class="mb-1" style="margin-top: 10px;">{{ message.send_on.strftime('%d.%m.%Y %H:%M') }}</h6>
                            <h6 class="mb-1">{{ message.sended_at.strftime('%d.%m.%Y %H:%M') if message.is_send else 'Нет' }}</h6>
                        </div>
                        <div>
                            {% if message.is_send %}
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="lime" class="bi bi-check-circle" viewBox="0 0 16 16">
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                    <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
                                </svg>
                            {% else %}
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="DeepSkyBlue" class="bi bi-arrow-repeat" viewBox="0 0 16 16">
                                    <path d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z"/>
                                    <path fill-rule="evenodd" d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z"/>
                                </svg>
                            {% endif %}
                        </div>
                    </div>
                    <div style="margin-bottom: 10px">
                        <a href="/admin/messages/{{ message.id }}/edit" class="btn btn-primary btn-sm">Редактировать</a>
                        <form action="/admin/messages/{{ message.id }}/delete" method="post" style="display:inline;">
                            <button type="submit" class="btn btn-danger btn-sm" style="margin-left: 10px;">Удалить</button>
                        </form>
                    </div>
                </div>
            {% endfor %}

            <nav aria-label="Навигация по страницам">
                <ul class="pagination">
                    {% if page > 1 %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page - 1 }}" aria-label="Предыдущая">
                            <span aria-hidden="true">&laquo;</span> Назад
                        </a>
                    </li>
                    {% endif %}
                    {% for p in range(1, total_pages + 1) %}
                    <li class="page-item {% if p == page %}active{% endif %}">
                        <a class="page-link" href="?page={{ p }}">{{ p }}</a>
                    </li>
                    {% endfor %}

                    {% if page < total_pages %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page + 1 }}" aria-label="Следующая">
                            Вперед <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </nav>

            <a href="/admin/messages/create" class="btn btn-success">Создать новое сообщение</a>
        </main>
    </div>
  </div>

  {% include 'footer.html' %}
  <script src="/static/js/bootstrap.bundle.min.js"></script>
{% endblock content %}