<nav class="navbar navbar-expand-lg bg-body-tertiary mb-5 fs-5">
    <div class="container-fluid">
        <span class="navbar-brand">Админ панель</span>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/admin">
                        <i class="fas fa-home"></i>
                        <span>Главная</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/users">
                        <i class="fas fa-users"></i>
                        <span>Пользователи</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/groups">
                        <i class="fas fa-users-cog"></i>
                        <span>Группы</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/messages">
                        <i class="fas fa-envelope"></i>
                        <span>Сообщения</span>
                    </a>
                </li>
            </ul>
            <ul class="nav d-flex mx-auto"> <!-- Выход в правом углу -->
                <li class="nav-item">
                    <a class="nav-link text-danger" href="/auth/logout">
                        <i class="fas fa-sign-out-alt"></i>
                        <span>Выход</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
