{% extends "base.html" %}
{% block title %}Создать группу{% endblock title %}
{% block content %}
  <div class="container-fluid">
    <div class="row">
        <main class="container" style="margin-bottom: 60px;">
            <h2>Создать новую группу</h2>
            {% include 'web_errors.html' %}
            <form method="post" action="/admin/groups/create">
                <div class="mb-3">
                    <label for="name" class="form-label lead">Название группы:</label>
                    <input type="text" id="name" name="name" class="form-control container-input" required>
                </div>
                <div class="d-flex form-check form-switch form-check-reverse mb-3">
                    <label for="is_active" class="form-check-label lead">Активна</label>
                    <input type="hidden" name="is_active" value="off">
                    <input class="form-check-input container-input" style="margin-left: auto;" type="checkbox" id="is_active" name="is_active" value="on" checked>
                </div>
                <button type="submit" class="btn btn-primary">Создать группу</button>
            </form>
        </main>
    </div>
  </div>
  <script src="/static/js/bootstrap.bundle.min.js"></script>
  {% include 'footer.html' %}
{% endblock content %}