{% extends "base.html" %}
{% block title %}Редактирование пользователя{% endblock title %}
{% block content %}
  <div class="container-fluid">
    <div class="row">
        {% include 'admin_sidebar.html' %}
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4" style="margin-bottom: 60px;">
            <div class="main-header text-center">
                <h2 class="my-4">Редактирование пользователя</h2>
            </div>
            {% include 'web_errors.html' %}
            <form method="POST" action="{{ url_for('edit_user', user_id=user.id) }}">
            
                <div class="mb-3">
                    <label for="first_name" class="form-label">Имя:</label>
                    <input type="text" id="first_name" name="first_name" class="form-control" value="{{ user.first_name }}" readonly>
                </div>

                <div class="mb-3">
                    <label for="last_name" class="form-label">Фамилия:</label>
                    <input type="text" id="last_name" name="last_name" class="form-control" value="{{ user.last_name }}" readonly>
                </div>

                <div class="mb-3">
                    <label for="user_name" class="form-label">Имя пользователя:</label>
                    <input type="text" id="user_name" name="user_name" class="form-control" value="{{ user.user_name }}" readonly>
                </div>

                <div class="mb-3 form-check">
                    <input type="checkbox" id="is_admin" name="is_admin" class="form-check-input" {% if user.is_admin %}checked{% endif %}>
                    <label for="is_admin" class="form-check-label">Администратор</label>
                </div>

                <div class="mb-3 form-check">
                    <input type="checkbox" id="is_block" name="is_block" class="form-check-input" {% if user.is_block %}checked{% endif %}>
                    <label for="is_block" class="form-check-label">Заблокирован</label>
                </div>

                <div class="mb-3">
                    <label for="password" class="form-label">Пароль:</label>
                    <input type="password" id="password" name="password" class="form-control" value="{{ user.password }}">
                </div>

                <div class="mb-3">
                    <div>
                        <p>Выберите группы:</p>
                        {% for group in groups %}
                            <div class="form-check">
                                <input type="checkbox" id="group_{{ group.id }}" name="group_id" value="{{ group.id }}" class="form-check-input"
                                {% if group in user.groups %}checked{% endif %}>
                                <label for="group_{{ group.id }}" class="form-check-label">{{ group.name }}</label>
                            </div>
                        {% endfor %}
                        <input type="hidden" name="group_id" value="none">
                    </div>
                </div>

                <button type="submit" class="btn btn-primary">Сохранить</button>
            </form>
        </main>
    </div>
  </div>

  {% include 'footer.html' %}
  
  <script src="/static/js/bootstrap.bundle.min.js"></script>
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
{% endblock content %}