<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/main.css">
    <link rel="stylesheet" href="/static/admin-sidebar.css">
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    {% include "admin_sidebar.html" %}
    <style>
        .card {
            margin-left: 10px;
            transition: transform 0.3s ease-in-out;
        }

        .card:hover {
            transform: translateX(10px);
        }

        .main-content {
            margin-left: 15px;
        }
        @media (max-width: 767px) {
            .card {
                margin-bottom: 20px;
            }
        }
    </style>
</head>