{% extends "base.html" %}
{% block title %}Вход в систему{% endblock title %}
{% block content %}
<main>
    <div class="d-flex justify-content-center">
        <div class="bg-light p-4 rounded">
            <div>
                <h1>ВХОД В СИСТЕМУ</h1>
                {% if message %}
                <div class="alert alert-danger">
                <h3>{{ message }}</h3>
                </div>
                {% endif %}
            </div>
            <div>
                <form class="mt-3" action="{{ url_for('auth_login') }}" method="post">
                    <label class="form-label" for="user_name"><h4>Имя пользователя:</h4></label>
                    <input class="form-control rounded" type="text" id="user_name" name="user_name" required>
                    
                    <label class="form-label mt-3" for="password"><h4>Пароль:</h4></label>
                    <input class="form-control rounded" type="password" id="password" name="password" required>
                    <div class="d-flex justify-content-center">
                        <button class="btn btn-primary mt-5 fs-5 w-50" type="submit">Войти</button>
                    </div>
                    
                </form>
            </div>
        </div>
    </div>
</main>
{% endblock content %}