<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вход</title>
    <link rel="stylesheet" href="/static/main.css">

</head>
<body>
    <div class="form-container">
        <h1>Вход</h1>
        {% if message %}
        <p style="color: red;">{{ message }}</p>
        {% endif %}
        <form action="{{ url_for('auth_login') }}" method="post">
            <label for="user_name">Имя пользователя:</label>
            <input type="text" id="user_name" name="user_name" required>
            <label for="password">Пароль:</label>
            <input type="password" id="password" name="password" required>
            <button type="submit">Войти</button>
        </form>
    </div>
</body>
</html>
