body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to bottom, #e3f2fd, #ffffff);
    margin: 0; /* Убираем отступы по умолчанию */
    color: #333;
}

#navbar {
    background-color: #343a40;
    width: 100%; /* Ширина на всю ширину экрана */
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px 0; /* Увеличиваем отступы сверху и снизу */
    transition: height 0.3s ease;
    z-index: 1000; /* Убедитесь, что панель расположена выше контента */
}
#sidebar .sidebar-header h2 {
    padding-left: 20px; /* Внутренний отступ слева */
    padding-top: 5px;  /* Верхний отступ */
    padding-bottom: 5px; /* Нижний отступ */
}
#navbar h1 {
    color: #fff; /* Цвет текста, если требуется */
    text-align: center; /* Центрирование текста */
    margin: 10px 0; /* Устанавливаем верхний и нижний отступ */
    padding: 0 20px; /* Добавляем горизонтальные отступы для равномерного расстояния от краев */
    font-size: 1.5rem; /* Размер шрифта, как нужно */
}

/* Элемент панели */
.nav-item {
    display: inline-block; /* Элементы навигации располагаются в строку */
}

/* Навигация */
.nav-item a {
    color: #bbb;
    font-size: 1rem;
    padding: 10px 15px; /* Увеличенные отступы для навигации */
    text-decoration: none;
    display: flex;
    align-items: center;
    transition: all 0.3s ease;
}

/* Увеличиваем отступ для иконки */
.nav-item i {
    margin-right: 5px; /* Увеличиваем отступ для иконки */
}

main {
    padding: 80px 20px 20px; /* Защита контента от верхней панели */
    transition: padding-top 0.3s ease;
    display: flex; /* Используем Flexbox */
    justify-content: center; /* Центрируем содержимое по горизонтали */
    flex-direction: column; /* Вертикальная ориентация */
    align-items: center; /* Центрируем содержимое по вертикали */
}

/* Карточки */
.card {
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
    width: 100%; /* Задаем ширину карточек */
    max-width: 600px; /* Максимальная ширина карточек */
}

.card:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    transform: scale(1.03);
}

/* Футер */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Адаптивные стили для мобильных устройств */
@media (max-width: 600px) {
    body {
        font-size: 9px; /* Размер шрифта для мобильных */
    }

    #navbar {
        padding: 10px 0; /* Уменьшаем отступы на мобильных */
    }

    .nav-item a {
        padding: 5px 10px; /* Уменьшаем отступы на мобильных */
    }

    main {
        padding: 60px 10px 20px; /* Уменьшаем отступы для мобильных */
    }
}

/* Адаптивные стили для планшетов */
@media (min-width: 601px) and (max-width: 1024px) {
    main {
        padding: 80px 20px 20px; /* Защита контента от верхней панели для планшетов */
    }

    body {
        font-size: 12px; /* Размер шрифта для планшетов */
    }
}
